body{
  background-color: #1f1f1f;
  color:white;
}
#main{
  width:100%;
  height:100%;
  
}
#main li{
  list-style-type: none;
}

#input-search{
  text-align: center;
  margin:2rem;
}

#results{
  margin:4rem 2rem;
}



